@model BackLogApp.ViewModels.DetailsBackLogViewModel

<br/>
<h2 style="display:inline;">
    @Model.Label - #@Model.Id
    <a href="@Url.Action("Edit","BackLog", new { id = Model.Id })" class="btn btn-warning" style="float:right;">
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
    </a>
    <br style="clear:both" />
    
</h2>
<p class="text-left" style="padding-top:10px;">@Model.CreatedDate</p>
<div class="container tasks-container">
    <hr />
    <div>
        <a href="@Url.Action("Create","Task",new { id = Model.Id})" class="btn btn-success" style="display:inline-block; padding:80px 90px"><i class="fa fa-plus" aria-hidden="true"></i></a>
    </div>
    @foreach (var item in Model.TaskList)
    {
        @item.Id @item.Label @item.Description @item.Status @item.CreatedDate @item.EditedDate
    }

    <br />
    <p>
        <a href="@Url.Action("Index","BackLog")" class="btn btn-default">Back to list</a>
    </p>

</div>
